---
import { FaLinkedin } from "react-icons/fa";
import { FaInstagram } from "react-icons/fa6";
import { FaGithub } from "react-icons/fa";
import { BsChevronDoubleDown } from "react-icons/bs";
---

<section class="w-full h-screen grid place-items-center content-center">
  <p class="md:text-2xl font-semibold font-mono">Front-end Developer</p>
  <h1
    class="text-transparent font-extrabold text-5xl md:text-7xl lg:text-9xl title tracking-wide select-none transition-all">
    Andi Aguirre
  </h1>
  <div class="flex justify-center gap-5 mt-16 text-3xl">
    <a
      href="#"
      class="hover:scale-110 transition-all lg:text-5xl shadow-lg hover:text-shadow"
      ><FaGithub /></a
    >
    <a
      href="#"
      class="hover:scale-110 transition-all lg:text-5xl shadow-lg hover:text-shadow"
      ><FaInstagram /></a
    >
    <a
      href="#"
      class="hover:scale-110 transition-all lg:text-5xl hover:text-shadow"
      ><FaLinkedin />
    </a>
  </div>
  <a
    href="#main"
    class="mt-20 text-3xl lg:text-4xl hover:scale-150 transition-all">
    <BsChevronDoubleDown />
  </a>
</section>
