---
import Contact from "./Contact.astro";
import HeaderPorfolio from "./HeaderPorfolio.astro";
import Proyects from "./Proyects.astro";
import Skills from "./Skills.astro";
---

<HeaderPorfolio />

<main class="container mx-auto">
  <Proyects />
  <Skills />
  <Contact />
</main>
